<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Writing Analysis Editing Helper</title>
        <script type="text/javascript" src="../static/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

</head>
<style>
    body {
        background-color: rgb(240, 241, 245);
    }
    section {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
    }
    .editor {
        background-color: white;
        height: 500px;
        width: 400px;
        padding: 50px;
        padding-top: 75px;
        border-radius: 3px;
        overflow: auto;
    }
    .header {
        background-color: white;
        padding: 20px;
        padding-left: 10px;
        border-radius: 3px;
    }
    .editContent {
        padding: 50px;
        padding-left: 60px;
        flex: 1;
    }
    .graphs{
        padding: 50px;
        height: 315px;
        flex: 3;
    }
    .options {
        background-color: rgb(243, 246, 252);
        padding: 10px;
        padding-left: 15px;
        border-radius: 3px;
    }
    .option {
        padding: 5px;
        text-decoration: none;
        color:black;
    }
</style>
<body>
    <div class="header">
        <p style="font-family:Helvetica;">Writing Analysis Editing Helper</p>
        <div class="options">
            <select id="fontSize" onclick="changeSize()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <a href="javascript:void(0)" onclick="format('bold')" class="option">
                <span class="fa fa-bold fa-fw"><b>B</b></span>
            </a>
            <a href="javascript:void(0)" onclick="format('italic')" class="option">
                <span class="fa fa-italic fa-fw"><i>I</i></span>
            </a>
            <a href="javascript:void(0)" onclick="format('underline')" class="option">
                <span class="fa fa-underline fa-fw">U</span>
            </a>
            <a href="javascript:void(0)" onclick="format('insertunorderedlist')" class="option">
                <span class="fa fa-list fa-fw">uL</span>
            </a>
            <a href="javascript:void(0)" onclick="format('insertOrderedList')" class="option">
                <span class="fa fa-list-ol fa-fw">oL</span>
            </a>


        </div>
        
        

    </div>

    <section>
        <div class="editContent">
            <div class="editor" contenteditable="true" id="editor"></div>
        </div>
        <div class="graphs">
            <canvas id="sentenceChart" style="height:100px; background-color:white;"></canvas>
            <canvas id="wordChart" style="height:100px; background-color: white;"></canvas>
        </div>
    </section>
    <button onclick="sentenceData()">Sentence Length</button><br>
    <button onclick="wordData()">Word Length</button>
    <div id="output"></div>
    <script>
        const sentChart = new Chart("sentenceChart", {
            type: "bar",
            data: {
                labels: [],
                datasets: [{
                    // backgroundColor:
                    label: 'Sentence Lengths',
                    data: []
                }]
            },
            options: {
                responsive:true,
                maintainAspectRatio: false,
            },
        });
        const wordChart = new Chart("wordChart", {
            type: "bar",
            data: {
                labels: [],
                datasets: [{
                    label: 'Word Lengths',
                    data: []
                }]
            },
            options: {
                responsive:true,
                maintainAspectRatio: false,
            },
        });


        function sentenceData(){
            var value = document.getElementById('editor').innerText;
            doc = new Document(value);
            updateCharts(doc);
            addSentColors(value, doc);
        }
        function wordData(){
            var value = document.getElementById('editor').innerText;
            doc = new Document(value);
            updateCharts(doc);
            addWordColors(value, doc);
        }

        function addSentColors(value, doc){
            let nums = doc.getSentLengths();
            let pos = 0;
            for(let i = 0; i < nums.length; i++){
                let color = '<mark style="background-color: ';
                switch(nums[i]){
                    case 0: case 1: case 2: case 3: case 4: case 5:
                        color += "rgb(213, 236, 184)";
                        break;
                    case 6: case 7: case 8:
                        color += "rgb(184, 236, 206)";
                        break;
                    case 9: case 10: case 11:
                        color += "rgb(184, 236, 235)";
                        break;
                    case 12: case 13: case 14:
                        color += "rgb(184, 204, 236)";
                        break;
                    case 15: case 16: case 17:
                        color += "rgb(189, 184, 236)";
                        break;
                    case 18: case 19: case 20:
                        color += "rgb(214, 184, 236)";
                        break;
                    default:
                        color += "rgb(248, 171, 255)";
                }
                color += ';">';
                // add to start of sentence
                let before = value.substring(0, pos);
                let sentLength = doc.paragraphs[0].sentences[i].content.length;
                let sent = value.substring(pos, pos + sentLength);
                let after = value.substring(pos + sentLength);
                value = before + color + sent + "</mark>" + after;
                pos += sentLength + color.length + 8;
                
                // add to end of sentence
            }
            document.getElementById('editor').innerHTML = value;
        }
        /*var body = document.getElementById('editor');
        var bodyText = body.innerText;*/
        function addWordColors(value, doc){
            // TODO work out
            let nums = doc.getWordLengths();
            let pos = 0;
            for(let i = 0; i < nums.length; i++){
                let color = '<mark style="background-color: ';
                switch(nums[i]){
                    case 0: case 1: case 2: case 3: case 4: case 5:
                        color += "rgb(213, 236, 184)";
                        break;
                    case 6: case 7: case 8:
                        color += "rgb(184, 236, 206)";
                        break;
                    case 9: case 10: case 11:
                        color += "rgb(184, 236, 235)";
                        break;
                    case 12: case 13: case 14:
                        color += "rgb(184, 204, 236)";
                        break;
                    case 15: case 16: case 17:
                        color += "rgb(189, 184, 236)";
                        break;
                    case 18: case 19: case 20:
                        color += "rgb(214, 184, 236)";
                        break;
                    default:
                        color += "rgb(248, 171, 255)";
                }
                color += ';">';
                // add to start of sentence
                let before = value.substring(0, pos);
                let sentLength = doc.paragraphs[0].sentences[i].content.length;
                let sent = value.substring(pos, pos + sentLength);
                let after = value.substring(pos + sentLength);
                value = before + color + sent + "</mark>" + after;
                pos += sentLength + color.length + 8;
                
                // add to end of sentence
            }
            document.getElementById('editor').innerHTML = value;
        }

        function updateCharts(body){
            updateChart(sentChart, body.getSentLengths());
            updateChart(wordChart, body.getWordLengths());
        }

        function updateChart(chart, data){
            chart.data.labels = data;
            chart.data.datasets.forEach((dataset) => {dataset.data = data});
            chart.update();
        }
        
    </script>

</body>
</html>