<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Writing Analysis Editing Helper</title>
</head>
<style>
    body {
        background-color: rgb(240, 241, 245);
    }
    .editor {
        background-color: white;
        height: 500px;
        width: 400px;
        padding: 50px;
        padding-top: 75px;
        border:2px solid;
    }
</style>
<body>
    <header style="background-color: white;">
        <h1 style="font-family:Helvetica;">Writing Analysis Editing Helper</h1>

    </header>

    <div class="editContent">
        <div class="editor" contenteditable="true" id="editor"></div>
    </div>

</body>
</html>